.main{
      height: 100vh;
}
body {
    overflow: hidden;
}

.main {
  font-family: "Josefin Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main{
    height: 100vh;
}

.col-5, .col-7 {
    overflow: hidden;
}

.main-color{
    color: #540b0e;
}
.main form button{
    background-color: #540b0e;
    color: white;
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center; 
    margin: 5px 0 10px 0;
}

.main form button:hover{
    background-color: #540b0e;
    color: white;
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center; 
    margin: 5px 0 10px 0;
}


.main form .or{
    position: relative;
}

.main form .or::before{
     content: '';
    background-image: url(/img/Line.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 45%;
    height: 1px;
}
.main form .or::after{
     content: '';
    background-image: url(/img/Line.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 45%;
    height: 1px;
}

.main form .google button{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 15px 0 10px 0;
    width: 100%;
    text-align: center; 
    transition: 0.3s;
}

.main form .google button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

.main form .google img{
    width: 20px;
}

.main .lyt{
    background-color:rgba(0, 0, 0, 0.6) ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.main .lyt h1{
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
}

.main form .btn:hover{
    color: #540b0e;
    border-color: #540b0e;
    background-color: white;
}

.main form input:focus{
    box-shadow: #540b0e 0px 0px 2px 1px;
    border-style:none ;

}

.lyt2 form input:focus{
    box-shadow: #540b0e 0px 0px 5px 1px;
    border-style:none ;

}

.main .row .lyt2 .OTP input{
    border-radius: 10px;
    height: 50px;
    color: #540b0e;
    border-width: 1px;   
    border-color: #540b0e;
    background-color: whitesmoke; 
    text-align: center;
}


.main .row .lyt2 .OTP{
      font-family: "Josefin Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main .row .lyt2 .OTP h5{
    font-size: 24px;
}

.main .row .lyt2 .OTP h5 a{
    color: #540b0e;

}





.iti__selected-flag {
    top: 6px;
    height: 33px !important;
    border-radius: 4px;
    transition: .3s;
}
input#phone {
    padding-left: 47px !important;
  	top: 6px;
}  
.intl-tel-input .flag-dropdown .selected-flag {
  padding: 11px 16px 11px 6px;
}
.intl-tel-input {
  z-index: 99;
  width: 100%;
}
.iti-flag {
  box-shadow: none;
}
.intl-tel-input .selected-flag:focus {
  outline: none;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0, 0, 0, 0.05);
}  
.iti--allow-dropdown input{
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
}
.iti__country-list {
    border-radius: 4px !important;
    z-index: 999 !important;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 8%) !important;
    border: 1px solid #ececec !important;
  	width: 270px !important;
}