.OTP form input{
    border-radius: 25px;
    height: 170px;
    width: 170px;
    color: #18C1B1;
    border-width: 1px;   
    border-color: black; 
    font-size: 70px;
    text-align: center;
    border-style:solid;
}

.OTP form input:focus{
    box-shadow: #18C1B1 0px 0px 5px 1px;
}

.OTP form{
    display: flex;
    gap: 17px;
    justify-content: center;

}

.OTP{
      font-family: "Josefin Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.OTP h5{
    font-size: 24px;
}

.OTP h5 a{
    color: #18C1B1;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.OTP form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.OTP input {
    width: 50px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}